In [1]:
#讀入CSV檔
import csv
#column 欄位取出 用來建立資料表格的參考欄位
ary = ['']
with open('waterQuality.csv', 'rb') as csvfile:
    name = csv.reader(csvfile) 
    print  name.next()

['id', 'code_name', 'latitude', 'longitude', 'qua_cl', 'qua_cntu', 'qua_id', 'qua_ph', 'update_date', 'update_time']

In [2]:
##資料庫階段
import sqlite3
db = sqlite3.connect('taipeiq.sqlite')
cur = db.cursor()
#建立資料庫表格FORMAT
cur = db.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS parking1(
 id INTEGER PRIMARY KEY,
 update_date TEXT,
 update_time TEXT,
 qua_id TEXT,
 code_name TEXT,
 longitude REAL,
 latitude REAL,
 qua_cntu REAL,
 qua_cl REAL,
 qua_ph REAL
 )''')
db.close()

In [12]:
#將資料打入sqlite
import csv, sqlite3
db = sqlite3.connect('taipeiq.sqlite')
cur = db.cursor()

def unicode_csv_reader(utf8_data, dialect=csv.excel, **kwargs):
    csv_reader = csv.reader(utf8_data, dialect=dialect, **kwargs)
    for row in csv_reader:
        yield [unicode(cell, 'utf-8') for cell in row]

filename = 'waterQuality.csv'
reader = unicode_csv_reader(open(filename))
colname = reader.next()  
columns = ','.join(colname)
for data in reader:
    placeholders = ', '.join('?' * len(data))
    sql = 'INSERT INTO water ({}) VALUES ({})'.format(columns, placeholders)
    cur.execute(sql, data)
db.commit()
db.close()

id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'0', u'\u96d9\u6eaa\u6de8\u6c34\u5834', u'25.11574', u'121.56094', u'0.63', u'0.02', u'CS00        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'1', u'\u885b\u7406\u5973\u4e2d', u'25.10325', u'121.54401', u'0.42', u'0.12', u'CS01        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'2', u'\u96d9\u6eaa\u570b\u5c0f                ', u'25.10763', u'121.55557', u'0.22', u'0.15', u'CS02        ', u'7.4', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'3', u'\u83ef\u8208\u52a0\u58d3\u7ad9', u'25.10356', u'121.53476', u'0.38', u'0.13', u'CS03        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'4', u'\u9577\u8208\u6de8\u6c34\u5834', u'25.01633', u'121.54043', u'0.49', u'0.04', u'CX00        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'5', u'\u5e02\u653f\u5927\u6a13', u'25.04250', u'121.55661', u'0.48', u'0.03', u'CX02        ', u'7.6', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'6', u'\u5e02\u8b70\u6703', u'25.04001', u'121.55360', u'0.34', u'0.06', u'CX03        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'7', u'\u6377\u904b\u5fe0\u5b5d\u5fa9\u8208\u7ad9', u'25.04251', u'121.53551', u'0.51', u'0.05', u'CX04        ', u'7.6', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'8', u'\u5357\u6e2f\u9ad8\u5de5', u'25.05787', u'121.59892', u'0.44', u'0.07', u'CX05        ', u'7', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'9', u'\u5357\u6e2f\u52a0\u58d3\u7ad9', u'25.04994', u'121.60829', u'-9', u'-9', u'CX06        ', u'-9', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'10', u'\u6339\u7fe0\u52a0\u58d3\u7ad9', u'25.02339', u'121.56617', u'0.48', u'0.04', u'CX07        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'11', u'\u6566\u5316\u570b\u4e2d                ', u'25.05305', u'121.53852', u'0.53', u'0.03', u'CX08        ', u'7.4', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'12', u'\u516c\u9928\u6de8\u6c34\u5834', u'25.01421', u'121.52221', u'0.55', u'0.04', u'GG00        ', u'7', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'13', u'\u6377\u904b\u53f0\u5317\u8eca\u7ad9', u'25.04860', u'121.50946', u'0.59', u'0.07', u'GG01        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'14', u'\u6377\u904b\u4e2d\u6b63\u7d00\u5ff5\u5802\u7ad9', u'25.03667', u'121.51198', u'0.5', u'0.05', u'GG02        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'15', u'\u842c\u83ef\u570b\u4e2d', u'25.03069', u'121.49045', u'0.46', u'0.02', u'GG03        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'16', u'\u83ef\u6c5f\u793e\u5340\u914d\u6c34\u6c60', u'25.03651', u'121.48482', u'0.38', u'0.12', u'GG04        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'17', u'\u897f\u9580\u570b\u5c0f', u'25.04475', u'121.49537', u'0.42', u'0.03', u'GG05        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'18', u'\u5fe0\u5b5d\u570b\u5c0f', u'25.04445', u'121.52330', u'0.47', u'0.04', u'GG06        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'19', u'\u87a2\u6a4b\u570b\u5c0f', u'25.02738', u'121.50684', u'0.47', u'0.07', u'GG07        ', u'7', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'20', u'\u76f4\u6f6d\u6de8\u6c34\u5834               ', u'24.94578', u'121.52536', u'0.51', u'0.03', u'JT00        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'21', u'\u4f38\u4ed7\u677f\u914d\u6c34\u6c60', u'24.93163', u'121.53502', u'0.57', u'0.13', u'JT02        ', u'7.4', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'22', u'\u4e2d\u548c\u52a0\u58d3\u7ad9', u'24.99116', u'121.51252', u'0.49', u'0.04', u'JT10        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'23', u'\u5b89\u5eb7\u52a0\u58d3\u7ad9', u'24.96287', u'121.50043', u'0.58', u'0.03', u'JT11        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'24', u'\u9802\u6eaa\u7ad9', u'25.01439', u'121.50717', u'0.53', u'0.07', u'JT12        ', u'7.5', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'25', u'\u4e2d\u548c\u570b\u5c0f', u'25.00055', u'121.49252', u'0.49', u'0.02', u'JT13        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'26', u'\u7a4d\u7a57\u570b\u5c0f', u'25.00029', u'121.47342', u'0.5', u'0.05', u'JT14        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'27', u'\u6377\u904b\u5927\u576a\u6797\u7ad9', u'24.98410', u'121.53337', u'0.44', u'0.04', u'JT15        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'28', u'\u5341\u4e8c\u5f35\u52a0\u58d3\u7ad9', u'24.96792', u'121.54142', u'0.46', u'0.03', u'JT16        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'29', u'\u666f\u7f8e\u5973\u4e2d', u'24.98227', u'121.54800', u'0.52', u'0.05', u'JT17        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'30', u'\u6728\u67f5\u52d5\u7269\u5712', u'25.00022', u'121.57299', u'0.52', u'0.03', u'JT18        ', u'7.4', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'31', u'\u516c\u9928\u52a0\u58d3\u7ad9', u'25.01300', u'121.52207', u'0.53', u'0.05', u'JT20        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'32', u'\u842c\u82b3\u4e8c\u865f\u914d\u6c34\u6c60', u'25.00461', u'121.55794', u'0.51', u'0.03', u'JT21        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'33', u'\u6307\u5357\u4e8c\u52a0\u58d3\u7ad9', u'24.97858', u'121.57322', u'-9', u'-9', u'JT22        ', u'-9', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'34', u'\u6728\u67f5\u4e8c\u671f\u914d\u6c34\u6c60', u'24.98869', u'121.57822', u'0.44', u'0.14', u'JT23        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'35', u'\u4e09\u91cd\u52a0\u58d3\u7ad9', u'25.06458', u'121.48565', u'0.56', u'0.05', u'JT24        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'36', u'\u65b0\u5317\u9ad8\u4e2d', u'25.05676', u'121.48253', u'0.42', u'0.07', u'JT25        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'37', u'\u6307\u5357\u516d\u52a0\u58d3\u7ad9', u'24.96866', u'121.57899', u'0.61', u'0.1', u'JT26        ', u'8', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'38', u'\u5927\u540c\u52a0\u58d3\u7ad9', u'25.07032', u'121.52114', u'0.56', u'0.04', u'JT30        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'39', u'\u9e97\u5c71\u570b\u4e2d', u'25.08504', u'121.56421', u'0.46', u'0.09', u'JT31        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'40', u'\u91cd\u6176\u570b\u4e2d', u'25.07802', u'121.50988', u'0.36', u'0.03', u'JT32        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'41', u'\u53f0\u5317\u6d77\u6d0b\u6280\u8853\u5b78\u9662', u'25.10985', u'121.46268', u'0.43', u'0.09', u'JT33        ', u'8.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'42', u'\u4ecb\u58fd\u570b\u4e2d', u'25.05794', u'121.54829', u'0.48', u'0.1', u'JT34        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'43', u'\u58eb\u6797\u570b\u4e2d', u'25.09652', u'121.50809', u'0.5', u'0.05', u'JT35        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'44', u'\u967d\u660e\u9ad8\u4e2d', u'25.09335', u'121.50891', u'0.53', u'0.05', u'JT36        ', u'7.4', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'45', u'\u6377\u904b\u77f3\u724c\u7ad9', u'25.11584', u'121.50743', u'0.46', u'0.07', u'JT37        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'46', u'\u5929\u6bcd\u52a0\u58d3\u7ad9', u'25.12182', u'121.52530', u'0.47', u'0.05', u'JT38        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'47', u'\u95dc\u6e21\u570b\u5c0f', u'25.12799', u'121.45823', u'0.44', u'0.04', u'JT39        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'48', u'\u6377\u904b\u6de1\u6c34\u7ad9', u'25.16947', u'121.43730', u'0.47', u'0.06', u'JT40        ', u'7.5', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'49', u'\u5317\u6295\u7b2c4\u914d\u6c34\u6c60', u'25.14770', u'121.49650', u'-9', u'-9', u'JT41        ', u'-9', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'50', u'\u5317\u6295\u52a0\u58d3\u7ad9', u'25.12045', u'121.49316', u'0.44', u'0.08', u'JT42        ', u'7.2', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'51', u'\u677e\u5c71\u52a0\u58d3\u7ad9', u'25.06639', u'121.55965', u'0.58', u'0.04', u'JT50        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'52', u'\u5167\u6e9d\u91cc\u52a0\u58d3\u7ad9', u'25.08017', u'121.61561', u'0.48', u'0.08', u'JT51        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'53', u'\u6f6d\u7f8e\u570b\u5c0f', u'25.06248', u'121.58255', u'0.5', u'0.1', u'JT52        ', u'7.3', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'54', u'\u6771\u6e56\u570b\u4e2d', u'25.07750', u'121.58088', u'0.34', u'0.1', u'JT53        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'55', u'\u6c11\u751f\u52a0\u58d3\u7ad9', u'25.14058', u'121.54186', u'0.51', u'0.05', u'JT54        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'56', u'\u8208\u9686\u516c\u71df\u4f4f\u5b851\u5340', u'24.98833', u'121.55806', u'0.48', u'0.03', u'JT55        ', u'7.8', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'57', u'\u967d\u660e\u6de8\u6c34\u5834', u'25.15261', u'121.52388', u'0.55', u'0.05', u'YM00        ', u'7.1', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'58', u'\u96a7\u9053                  ', u'25.14582', u'121.50303', u'0.54', u'0.01', u'YM01        ', u'6.6', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'59', u'\u4e2d\u6b63\u8def\u914d\u6c34\u6c60                 ', u'25.15329', u'121.53615', u'0.51', u'0.04', u'YM02        ', u'6.6', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'60', u'\u4e2d\u5c71\u6a13                 ', u'25.15725', u'121.54510', u'0.53', u'0.13', u'YM03        ', u'7', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'61', u'\u9e7f\u89d2\u5751(\u4e09\u52a0)', u'25.18501', u'121.54746', u'0.56', u'0.14', u'YM04        ', u'7.5', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'62', u'\u6cc9\u6e90\u570b\u5c0f', u'25.15081', u'121.51595', u'0.25', u'0.23', u'YM05        ', u'7.9', u'2015-10-11', u'00:00:00  ']
INSERT INTO water (id,code_name,latitude,longitude,qua_cl,qua_cntu,qua_id,qua_ph,update_date,update_time) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
[u'63', u'\u4e09\u89d2\u57d4\u52a0\u58d3\u7ad9', u'25.12964', u'121.52562', u'0.47', u'0.04', u'YM06        ', u'6.7', u'2015-10-11', u'00:00:00  ']

In [27]:
#從資料庫中讀取之前輸入的資料
import sqlite3
db = sqlite3.connect('taipeiq.sqlite')
cur = db.cursor()
cursor=cur.execute("SELECT * FROM water ")
names = [description[0] for description in cursor.description]
print names
for row in cur.execute("SELECT * FROM water "):
    print row

['id', 'update_date', 'update_time', 'qua_id', 'code_name', 'longitude', 'latitude', 'qua_cntu', 'qua_cl', 'qua_ph']
(0, u'2015-10-11', u'00:00:00  ', u'CS00        ', u'\u96d9\u6eaa\u6de8\u6c34\u5834', 121.56094, 25.11574, 0.02, 0.63, 7.2)
(1, u'2015-10-11', u'00:00:00  ', u'CS01        ', u'\u885b\u7406\u5973\u4e2d', 121.54401, 25.10325, 0.12, 0.42, 7.1)
(2, u'2015-10-11', u'00:00:00  ', u'CS02        ', u'\u96d9\u6eaa\u570b\u5c0f                ', 121.55557, 25.10763, 0.15, 0.22, 7.4)
(3, u'2015-10-11', u'00:00:00  ', u'CS03        ', u'\u83ef\u8208\u52a0\u58d3\u7ad9', 121.53476, 25.10356, 0.13, 0.38, 7.1)
(4, u'2015-10-11', u'00:00:00  ', u'CX00        ', u'\u9577\u8208\u6de8\u6c34\u5834', 121.54043, 25.01633, 0.04, 0.49, 7.1)
(5, u'2015-10-11', u'00:00:00  ', u'CX02        ', u'\u5e02\u653f\u5927\u6a13', 121.55661, 25.0425, 0.03, 0.48, 7.6)
(6, u'2015-10-11', u'00:00:00  ', u'CX03        ', u'\u5e02\u8b70\u6703', 121.5536, 25.04001, 0.06, 0.34, 7.3)
(7, u'2015-10-11', u'00:00:00  ', u'CX04        ', u'\u6377\u904b\u5fe0\u5b5d\u5fa9\u8208\u7ad9', 121.53551, 25.04251, 0.05, 0.51, 7.6)
(8, u'2015-10-11', u'00:00:00  ', u'CX05        ', u'\u5357\u6e2f\u9ad8\u5de5', 121.59892, 25.05787, 0.07, 0.44, 7.0)
(9, u'2015-10-11', u'00:00:00  ', u'CX06        ', u'\u5357\u6e2f\u52a0\u58d3\u7ad9', 121.60829, 25.04994, -9.0, -9.0, -9.0)
(10, u'2015-10-11', u'00:00:00  ', u'CX07        ', u'\u6339\u7fe0\u52a0\u58d3\u7ad9', 121.56617, 25.02339, 0.04, 0.48, 7.3)
(11, u'2015-10-11', u'00:00:00  ', u'CX08        ', u'\u6566\u5316\u570b\u4e2d                ', 121.53852, 25.05305, 0.03, 0.53, 7.4)
(12, u'2015-10-11', u'00:00:00  ', u'GG00        ', u'\u516c\u9928\u6de8\u6c34\u5834', 121.52221, 25.01421, 0.04, 0.55, 7.0)
(13, u'2015-10-11', u'00:00:00  ', u'GG01        ', u'\u6377\u904b\u53f0\u5317\u8eca\u7ad9', 121.50946, 25.0486, 0.07, 0.59, 7.2)
(14, u'2015-10-11', u'00:00:00  ', u'GG02        ', u'\u6377\u904b\u4e2d\u6b63\u7d00\u5ff5\u5802\u7ad9', 121.51198, 25.03667, 0.05, 0.5, 7.2)
(15, u'2015-10-11', u'00:00:00  ', u'GG03        ', u'\u842c\u83ef\u570b\u4e2d', 121.49045, 25.03069, 0.02, 0.46, 7.2)
(16, u'2015-10-11', u'00:00:00  ', u'GG04        ', u'\u83ef\u6c5f\u793e\u5340\u914d\u6c34\u6c60', 121.48482, 25.03651, 0.12, 0.38, 7.2)
(17, u'2015-10-11', u'00:00:00  ', u'GG05        ', u'\u897f\u9580\u570b\u5c0f', 121.49537, 25.04475, 0.03, 0.42, 7.2)
(18, u'2015-10-11', u'00:00:00  ', u'GG06        ', u'\u5fe0\u5b5d\u570b\u5c0f', 121.5233, 25.04445, 0.04, 0.47, 7.2)
(19, u'2015-10-11', u'00:00:00  ', u'GG07        ', u'\u87a2\u6a4b\u570b\u5c0f', 121.50684, 25.02738, 0.07, 0.47, 7.0)
(20, u'2015-10-11', u'00:00:00  ', u'JT00        ', u'\u76f4\u6f6d\u6de8\u6c34\u5834               ', 121.52536, 24.94578, 0.03, 0.51, 7.2)
(21, u'2015-10-11', u'00:00:00  ', u'JT02        ', u'\u4f38\u4ed7\u677f\u914d\u6c34\u6c60', 121.53502, 24.93163, 0.13, 0.57, 7.4)
(22, u'2015-10-11', u'00:00:00  ', u'JT10        ', u'\u4e2d\u548c\u52a0\u58d3\u7ad9', 121.51252, 24.99116, 0.04, 0.49, 7.2)
(23, u'2015-10-11', u'00:00:00  ', u'JT11        ', u'\u5b89\u5eb7\u52a0\u58d3\u7ad9', 121.50043, 24.96287, 0.03, 0.58, 7.3)
(24, u'2015-10-11', u'00:00:00  ', u'JT12        ', u'\u9802\u6eaa\u7ad9', 121.50717, 25.01439, 0.07, 0.53, 7.5)
(25, u'2015-10-11', u'00:00:00  ', u'JT13        ', u'\u4e2d\u548c\u570b\u5c0f', 121.49252, 25.00055, 0.02, 0.49, 7.2)
(26, u'2015-10-11', u'00:00:00  ', u'JT14        ', u'\u7a4d\u7a57\u570b\u5c0f', 121.47342, 25.00029, 0.05, 0.5, 7.3)
(27, u'2015-10-11', u'00:00:00  ', u'JT15        ', u'\u6377\u904b\u5927\u576a\u6797\u7ad9', 121.53337, 24.9841, 0.04, 0.44, 7.2)
(28, u'2015-10-11', u'00:00:00  ', u'JT16        ', u'\u5341\u4e8c\u5f35\u52a0\u58d3\u7ad9', 121.54142, 24.96792, 0.03, 0.46, 7.2)
(29, u'2015-10-11', u'00:00:00  ', u'JT17        ', u'\u666f\u7f8e\u5973\u4e2d', 121.548, 24.98227, 0.05, 0.52, 7.2)
(30, u'2015-10-11', u'00:00:00  ', u'JT18        ', u'\u6728\u67f5\u52d5\u7269\u5712', 121.57299, 25.00022, 0.03, 0.52, 7.4)
(31, u'2015-10-11', u'00:00:00  ', u'JT20        ', u'\u516c\u9928\u52a0\u58d3\u7ad9', 121.52207, 25.013, 0.05, 0.53, 7.1)
(32, u'2015-10-11', u'00:00:00  ', u'JT21        ', u'\u842c\u82b3\u4e8c\u865f\u914d\u6c34\u6c60', 121.55794, 25.00461, 0.03, 0.51, 7.1)
(33, u'2015-10-11', u'00:00:00  ', u'JT22        ', u'\u6307\u5357\u4e8c\u52a0\u58d3\u7ad9', 121.57322, 24.97858, -9.0, -9.0, -9.0)
(34, u'2015-10-11', u'00:00:00  ', u'JT23        ', u'\u6728\u67f5\u4e8c\u671f\u914d\u6c34\u6c60', 121.57822, 24.98869, 0.14, 0.44, 7.2)
(35, u'2015-10-11', u'00:00:00  ', u'JT24        ', u'\u4e09\u91cd\u52a0\u58d3\u7ad9', 121.48565, 25.06458, 0.05, 0.56, 7.3)
(36, u'2015-10-11', u'00:00:00  ', u'JT25        ', u'\u65b0\u5317\u9ad8\u4e2d', 121.48253, 25.05676, 0.07, 0.42, 7.1)
(37, u'2015-10-11', u'00:00:00  ', u'JT26        ', u'\u6307\u5357\u516d\u52a0\u58d3\u7ad9', 121.57899, 24.96866, 0.1, 0.61, 8.0)
(38, u'2015-10-11', u'00:00:00  ', u'JT30        ', u'\u5927\u540c\u52a0\u58d3\u7ad9', 121.52114, 25.07032, 0.04, 0.56, 7.1)
(39, u'2015-10-11', u'00:00:00  ', u'JT31        ', u'\u9e97\u5c71\u570b\u4e2d', 121.56421, 25.08504, 0.09, 0.46, 7.3)
(40, u'2015-10-11', u'00:00:00  ', u'JT32        ', u'\u91cd\u6176\u570b\u4e2d', 121.50988, 25.07802, 0.03, 0.36, 7.2)
(41, u'2015-10-11', u'00:00:00  ', u'JT33        ', u'\u53f0\u5317\u6d77\u6d0b\u6280\u8853\u5b78\u9662', 121.46268, 25.10985, 0.09, 0.43, 8.3)
(42, u'2015-10-11', u'00:00:00  ', u'JT34        ', u'\u4ecb\u58fd\u570b\u4e2d', 121.54829, 25.05794, 0.1, 0.48, 7.2)
(43, u'2015-10-11', u'00:00:00  ', u'JT35        ', u'\u58eb\u6797\u570b\u4e2d', 121.50809, 25.09652, 0.05, 0.5, 7.2)
(44, u'2015-10-11', u'00:00:00  ', u'JT36        ', u'\u967d\u660e\u9ad8\u4e2d', 121.50891, 25.09335, 0.05, 0.53, 7.4)
(45, u'2015-10-11', u'00:00:00  ', u'JT37        ', u'\u6377\u904b\u77f3\u724c\u7ad9', 121.50743, 25.11584, 0.07, 0.46, 7.2)
(46, u'2015-10-11', u'00:00:00  ', u'JT38        ', u'\u5929\u6bcd\u52a0\u58d3\u7ad9', 121.5253, 25.12182, 0.05, 0.47, 7.2)
(47, u'2015-10-11', u'00:00:00  ', u'JT39        ', u'\u95dc\u6e21\u570b\u5c0f', 121.45823, 25.12799, 0.04, 0.44, 7.3)
(48, u'2015-10-11', u'00:00:00  ', u'JT40        ', u'\u6377\u904b\u6de1\u6c34\u7ad9', 121.4373, 25.16947, 0.06, 0.47, 7.5)
(49, u'2015-10-11', u'00:00:00  ', u'JT41        ', u'\u5317\u6295\u7b2c4\u914d\u6c34\u6c60', 121.4965, 25.1477, -9.0, -9.0, -9.0)
(50, u'2015-10-11', u'00:00:00  ', u'JT42        ', u'\u5317\u6295\u52a0\u58d3\u7ad9', 121.49316, 25.12045, 0.08, 0.44, 7.2)
(51, u'2015-10-11', u'00:00:00  ', u'JT50        ', u'\u677e\u5c71\u52a0\u58d3\u7ad9', 121.55965, 25.06639, 0.04, 0.58, 7.3)
(52, u'2015-10-11', u'00:00:00  ', u'JT51        ', u'\u5167\u6e9d\u91cc\u52a0\u58d3\u7ad9', 121.61561, 25.08017, 0.08, 0.48, 7.1)
(53, u'2015-10-11', u'00:00:00  ', u'JT52        ', u'\u6f6d\u7f8e\u570b\u5c0f', 121.58255, 25.06248, 0.1, 0.5, 7.3)
(54, u'2015-10-11', u'00:00:00  ', u'JT53        ', u'\u6771\u6e56\u570b\u4e2d', 121.58088, 25.0775, 0.1, 0.34, 7.1)
(55, u'2015-10-11', u'00:00:00  ', u'JT54        ', u'\u6c11\u751f\u52a0\u58d3\u7ad9', 121.54186, 25.14058, 0.05, 0.51, 7.1)
(56, u'2015-10-11', u'00:00:00  ', u'JT55        ', u'\u8208\u9686\u516c\u71df\u4f4f\u5b851\u5340', 121.55806, 24.98833, 0.03, 0.48, 7.8)
(57, u'2015-10-11', u'00:00:00  ', u'YM00        ', u'\u967d\u660e\u6de8\u6c34\u5834', 121.52388, 25.15261, 0.05, 0.55, 7.1)
(58, u'2015-10-11', u'00:00:00  ', u'YM01        ', u'\u96a7\u9053                  ', 121.50303, 25.14582, 0.01, 0.54, 6.6)
(59, u'2015-10-11', u'00:00:00  ', u'YM02        ', u'\u4e2d\u6b63\u8def\u914d\u6c34\u6c60                 ', 121.53615, 25.15329, 0.04, 0.51, 6.6)
(60, u'2015-10-11', u'00:00:00  ', u'YM03        ', u'\u4e2d\u5c71\u6a13                 ', 121.5451, 25.15725, 0.13, 0.53, 7.0)
(61, u'2015-10-11', u'00:00:00  ', u'YM04        ', u'\u9e7f\u89d2\u5751(\u4e09\u52a0)', 121.54746, 25.18501, 0.14, 0.56, 7.5)
(62, u'2015-10-11', u'00:00:00  ', u'YM05        ', u'\u6cc9\u6e90\u570b\u5c0f', 121.51595, 25.15081, 0.23, 0.25, 7.9)
(63, u'2015-10-11', u'00:00:00  ', u'YM06        ', u'\u4e09\u89d2\u57d4\u52a0\u58d3\u7ad9', 121.52562, 25.12964, 0.04, 0.47, 6.7)